@{
    ViewData["Title"] = "Area do Usuário";
}

<section class="solucoes" id="solucoes">
    <div class="solucoes-container">
        <div class="solucoes-item pagamento">
            <a asp-action="Index" asp-controller="Eventos"><h2>Eventos</h2></a>
            <img src="img/market.png" alt="pagamento celular">            
        </div>

        <div class="solucoes-item insights">
            <a asp-action="Vendas" asp-controller="Eventos"><h2>Vendas</h2></a>
            <img src="img/perfil.jpg" alt="Insights">            
        </div>

        <div class="solucoes-item integracao">
            <a asp-action="Insight" asp-controller="Eventos"><h2>Insights</h2></a>
            <img src="img/pagamento.jpg" alt="Integração">
            
        </div>
    </div>
</section>
