@{
    ViewData["Title"] = "Cadastro";
}

<section class="login-container">
    <form action="" class="form">
        <h2>Cadastro</h2>
        <input type="email" name="email" id="email" class="box" placeholder="Email">
        <input type="senha" name="senha" id="senha" class="box" placeholder="Senha">
        <input type="senha2" name="senha2" id="senha2" class="box" placeholder="Repetir Senha">        
        <a asp-action="AdicionarUsuario" asp-controller="Cadastro">Cadastrar</a>
    </form>

    <div class="side">
        <img src="img/market.png" alt="">
    </div>

</section>