@{
    ViewData["Title"] = "Cadastro";
}

<section class="cadastro-container">
    <form action="" class="form">
        <h2>Cadastro</h2>
        <input type="text" name="nome" id="nome" class="box" placeholder="Nome">
        <input type="text" name="cpf" id="cpf" class="box" pattern="\d{3}\.\d{3}\.\d{3}-\d{2}" placeholder="CPF">
        <input type="tel" name="celular" id="celular" class="box" placeholder="Celular">
        <input type="email" name="email" id="email" class="box" placeholder="Email">
        <input type="password" name="senha" id="senha" class="box" placeholder="Senha">
        <input type="submit" id="submit" value="Cadastrar" asp-controller="Cadastro" asp-action="CadastrarPessoa">

    </form>

    <div class="side">
        <img src="img/market.png" alt="">
    </div>

</section>